{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/details.css">
    <script src="../static/js/details.js"></script>
{% endblock %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-7 offset-md-3 col-12" id="title">
            <h1>Details für "{{ product.name }}"</h1>
        </div>
        <div class="col-2 price d-lg-flex d-none">
            {% if current_user.authenticated %}
                Mitglieds-Preis
            {% else %}
                Gast-Preis
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-12 order-md-first order-last">
            {% if not current_user.authenticated %}
                <div class="col" id="login">
                    <form method="post" action="/login" class="form">
                        <p class="form-title"><span>Login</span></p>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control"
                                   placeholder="Benutzername">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control"
                                   placeholder="Passwort">
                        </div>
                        <input type="hidden" name="route" id="route">
                        <button type="submit" class="btn">
                            <i class="fas fa-sign-in-alt"></i>
                            Anmelden
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-7 col-md-8 col-12" id="banner"
             style="background-image: url(/static/assets/{{ product.image }});"></div>
        <div class="col-lg-2 col-12 my-lg-0 my-4">
            <span class="price d-lg-flex d-inline-block">
            {% if current_user.authenticated %}
                {{ product.price - 2 }}€
            {% else %}
                {{ product.price }}€
            {% endif %}
            </span>
            <button class="btn" id="order_button">
                <i class="fas fa-utensils"></i>
                Vorbestellen
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-12">
            {% if not current_user.authenticated %}
                Melden Sie sich jetzt an,
                um die wirklich viel günstigeren Preise für Mitarbeiter oder Studenten zu sehen.
            {% endif %}
        </div>
        <div class="col-md-7 col-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#description"
                       role="tab">Beschreibung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ingredients"
                       role="tab">Zutaten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#review"
                       role="tab">Bewertung</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="description" role="tabpanel">
                    <p>{{ product.description }}</p>
                </div>
                <div class="tab-pane" id="ingredients" role="tabpanel">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Zutat</th>
                            <th>Menge</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ingredient, amount in product.ingredients.items() %}
                            <tr>
                                <td>{{ ingredient }}</td>
                                <td>{{ amount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="review" role="tabpanel">
                    <form method="post" action="http://bc5.m2c-lab.fh-aachen.de/form.php">
                        <div class="form-group">
                            <label for="benutzer">Benutzer</label>
                            <input type="text" name="benutzer" class="form-control" id="benutzer">
                        </div>
                        <div class="form-group">
                            <label for="bemerkung">Bemerkung</label>
                            <textarea class="form-control" name="bemerkung" id="bemerkung">
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="bewertung">Bewertung</label>
                            <input type="range" name="bewertung" min="1" max="5" id="bewertung"
                                   class="form-control">
                            <small class="for-text text-muted">
                                Deine Daten werden nicht an Dritte weitergegeben
                            </small>
                        </div>
                        <input type="hidden" name="matrikel" value="3152047">
                        <input type="hidden" name="kontrolle" value="zui">
                        <button type="submit" class="btn">Absenden</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
