{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/edit_product.css">
{% endblock %}
{% block title %}Bearbeiten{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">
                {{ product.name }}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 col-12 offset-0">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link{% if not ingredients and not image %} active{% endif %}"
                       data-toggle="tab" href="#description">
                        Beschreibung
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if ingredients %} active{% endif %}" data-toggle="tab"
                       href="#ingredients">
                        Zutaten
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if image %} active{% endif %}" data-toggle="tab"
                       href="#image">
                        Bild
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane{% if not ingredients and not image %} show active{% endif %}"
                     id="description">
                    <form method="post" action="{{ request.path }}">
                        <div class="form-group">
                            <textarea class="form-control" name="description"
                                      title="Beschreibung">{{ product.description }}</textarea>
                        </div>
                        <button class="btn" type="submit">Speichern</button>
                    </form>
                </div>
                <div class="tab-pane{% if ingredients %} show active{% endif %}" id="ingredients">
                    <form class="form-inline" method="post" action="{{ request.path }}">
                        <div class="form-group col-sm-5 col-4">
                            <input type="text" class="form-control" title="Zutat"
                                   name="ingredient">
                        </div>
                        <div class="form-group col-sm-5 offset-sm-1 col-4 offset-1">
                            <input type="text" class="form-control" title="Menge" name="amount">
                        </div>
                        <div class="col-1 text-right">
                            <button type="submit" class="btn">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </form>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Zutat</th>
                            <th>Menge</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ingredient, amount in product.ingredients.items() %}
                            <tr>
                                <td>{{ ingredient }}</td>
                                <td>{{ amount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane{% if image %} show active{% endif %}" id="image">
                    <img src="/static/assets/{{ product.image }}">
                    <form method="post" action="{{ request.path }}" enctype="multipart/form-data">
                        <div class="custom-file">
                            <label class="custom-file-label">Choose File</label>
                            <input class="custom-file-input" type="file" name="image">
                        </div>
                        <button class="btn" type="submit">Speichern</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}