{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/details.css">
{% endblock %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-7 offset-3" id="title">
            <h1>Details fuer "{{ product.name }}"</h1>
        </div>
        <div class="col-2 price">
            Gast-Preis
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="col" id="login">
                <p>Login</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Benutzername">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Passwort">
                    </div>
                    <button type="submit" class="btn">
                        <i class="fas fa-sign-in-alt"></i>
                        Anmelden
                    </button>
                </form>
            </div>
        </div>
        <div class="col-7" id="banner"
             style="background-image: url(/static/assets/{{ product.image }});"></div>
        <div class="col-2">
            <div class="row">
                <div class="col price">
                    {{ product.price }}€
                </div>
            </div>
            <div class="row my-auto" id="order_row">
                <div class="col">
                    <button class="btn" id="order_button">
                        <i class="fas fa-utensils"></i>
                        Vorbestellen
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Melden Sie sich jetzt an,
            um die wirklich viel günstigeren Preise für Mitarbeiter oder Studenten zu sehen.
        </div>
        <div class="col-7" id="description">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#description"
                       role="tab">Beschreibung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#ingredients"
                       role="tab">Zutaten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#review"
                       role="tab">Bewertungen</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="description" role="tabpanel">
                    {{ product.description }}
                </div>
                <div class="tab-pane fade" id="ingredients" role="tabpanel">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Zutat</th>
                                <th>Menge</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ingredient, amount in product.ingredients.items() %}
                            <tr>
                                <td>{{ ingredient }}</td>
                                <td>{{ amount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="review" role="tabpanel">

                </div>
            </div>
        </div>
    </div>
{% endblock %}