{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/products.css">
{% endblock %}
{% block title %}
    Products
{% endblock %}
{% block active2 %}
    active
{% endblock %}
{% block content %}
    <div class="row" id="title">
        <div class="col">
            <h1 class="text-center">Verfügbare Speisen (Bestseller)</h1>
        </div>
    </div>
    <div class="row" id="content">
        <div class="col-md-2 col-sm-12" id="filter">
            <p><span>Speisenliste filtern</span></p>
            <form>
                <div class="form-group">
                    <select class="custom-select" title="Kategorie">
                        <option>Kategorie</option>
                        <option>Kategorie</option>
                        <option>Kategorie</option>
                    </select>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="available">
                    <label class="custom-control-label" for="available">nur verfügbare</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="vegetarian">
                    <label class="custom-control-label" for="vegetarian">nur vegetarisch</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="vegan">
                    <label class="custom-control-label" for="vegan">nur vegan</label>
                </div>
                <button type="submit" class="form-control btn">Speisen filtern</button>
            </form>
        </div>
        <div class="col-md-10 col-sm-12 text-center" id="items">
            <div class="row">
                {% for product in products %}
                    {% if product.available %}
                        <div class="card col-md-3 col-12 py-2">
                            <a class="card-link" href="/products/{{ loop.index0 }}">
                                <img class="card-img-top" src="/static/assets/{{ product.image }}">
                            </a>
                            <div class="card-body">
                                <p class="card-text">{{ product.name }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="card disabled col-md-3 col-12 py-2">
                            <img class="card-img-top" src="/static/assets/{{ product.image }}">
                            <div class="card-body">
                                <p class="card-text">{{ product.name }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}