{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/products.css">
    <script src="../static/js/products.js"></script>
{% endblock %}
{% block title %}
    Products
{% endblock %}
{% block active2 %}
    active
{% endblock %}
{% block content %}
    <div class="row" id="title">
        <div class="col">
            <h1 class="text-center" id="title">Verfügbare Speisen (Bestseller)</h1>
        </div>
    </div>
    <div class="row" id="content">
        <div class="col-lg-3 col-12" id="filter">
            <form>
                <p class="form-title"><span>Speisenliste filtern</span></p>
                <div class="form-group">
                    <select class="custom-select" title="Kategorie">
                        <option>Kategorie</option>
                        <option>Kategorie</option>
                        <option>Kategorie</option>
                    </select>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="available">
                    <label class="custom-control-label" for="available">verfügbar</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="vegetarian">
                    <label class="custom-control-label" for="vegetarian">vegetarisch</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="vegan">
                    <label class="custom-control-label" for="vegan">vegan</label>
                </div>
                <button type="submit" class="form-control btn">Speisen filtern</button>
            </form>
        </div>
        <div class="col-lg-9 col-12 text-center" id="items">
            <div class="row">
                {% for product in products %}
                    <div class="card col-md-3 col-12 py-2
                                {% if product.available %}available{% endif %}
                                {% if product.vegetarian %}vegetarian{% endif %}
                                {% if product.vegan %}vegan{% endif %}">
                        <a class="card-link" href="/products/{{ loop.index0 }}">
                            <img class="card-img-top" src="/static/assets/{{ product.image }}">
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ product.name }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}