{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/user-entry.js"></script>
{% endblock %}
{% block title %}
    Registrieren
{% endblock %}
{% block content %}
    <div class="col-md-4 offset-md-4 col-12">
        <form method="post" action="/register" class="mx-auto" id="login">
            <p class="for-title"><span>Registrieren</span></p>
            <div class="form-group">
                <input class="form-control" id="username" type="text" name="username"
                       placeholder="Benutzername">
            </div>
            <p id="username-error" class="text-danger error-message">
                Benutzername muss zwischen 4 und 30 Zeichen lang sein
            </p>
            <div class="form-group">
                <input class="form-control" id="password" type="password" name="password"
                       placeholder="Passwort">
            </div>
            <p id="password-error" class="text-danger error-message">
                Passwort muss wenigstens 8 Zeichen lang sein
            </p>
            <input type="hidden" name="route" value="/">
            <button type="submit" class="btn form-control" disabled>Registrieren</button>
        </form>
    </div>
{% endblock %}