<hr>
<footer class="row">
    <div class="col-md-2 col-12" id="copyright">
        <i class="far fa-copyright"></i>
        2018 <a href="https://github.com/KnutZuidema">Knut Zuidema</a>
    </div>
    <ul class="col-md-10 col-12" id="links">
        @if (ViewBag.User == null)
        {
            <li><a asp-controller="EMensa" asp-action="Login">Anmelden</a></li>
            <li><a asp-controller="EMensa" asp-action="Register">Registrieren</a></li>
        }
        <li><a asp-controller="EMensa" asp-action="Ingredients">Zutatenliste</a></li>
        <li><a asp-controller="EMensa" asp-action="Impressum">Impressum</a></li>
    </ul>
</footer>
