body {
    background: lightgray;
}

.navbar {
    background-color: teal;
    font-size: large;
}

#links {
    margin: auto 0;
}

.row {
    padding: 3px 0;
}

.input-group-text {
    background: white;
    border-right: unset;
}

.form-control {
    border-left: unset;
}

#links li {
    display: inline-block;
}

.container {
    margin-top: 3vh;
}

.card {
    width: 10vw;
    height: 10vw;
    background-color: teal;
}

#filter {
    border: 1px solid black;
    background: darkgrey;
}

#items {
    padding-left: 5vw;
}