@{
    ViewBag.Title = "Impressum";
    Layout = "_Layout";
}

@section Stylesheets{
    <meta http-equiv="refresh" content="3; url=/">
    <link rel="stylesheet" href="~/css/impressum.css">
}

<h3>
    <a href="/">Du wirst in Kürze weitergeleitet, falls dies nicht passiert klicke hier</a>
</h3>