@model Ingredients

@{
    ViewBag.Title = "Zutaten";
    Layout = "_Layout";
}

<table class="table">
    <thead>
    <tr>
        <th>Zutat</th>
        <th class="text-center">Vegetarisch</th>
        <th class="text-center">Vegan</th>
        <th class="text-center">Glutenfrei</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ingredient in Model.AllIngredients)
    {
        <tr>
            <td>
                <a href="https://www.google.de/search?q=@ingredient.Name" target="_blank"
                   title="Nach @ingredient.Name bei Google suchen">
                    @ingredient.Name
                </a>
                @if (ingredient.Organic != 0)
                {
                    <img class="font-image" src="~/images/bio-energy-symbol.png">
                }
            </td>
            <td class="text-center">
                @if (ingredient.Vegetarian != 0)
                {
                    <i class="far fa-check-circle"></i>
                }
                else
                {
                    <i class="far fa-circle"></i>
                }
            </td>
            <td class="text-center">
                @if (ingredient.Vegan != 0)
                {
                    <i class="far fa-check-circle"></i>
                }
                else
                {
                    <i class="far fa-circle"></i>
                }
            </td>
            <td class="text-center">
                @if (ingredient.GlutenFree != 0)
                {
                    <i class="far fa-check-circle"></i>
                }
                else
                {
                    <i class="far fa-circle"></i>
                }
            </td>
        </tr>
    }
    </tbody>
</table>