@model LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

@section Stylesheets{
    <link rel="stylesheet" href="~/css/login.css">
}

<div class="col-md-4 offset-md-4 col-12">
    <form asp-action="Login" asp-controller="EMensa" class="mx-auto form" id="login">
        <p class="form-title">
            <span>Login</span>
        </p>
        @if (Model.ActiveError)
        {
            <p class="text-danger error-message">Nicht aktiviert</p>
        }
        else if (Model.UserError)
        {
            <p class="text-danger error-message">Falscher Benutzername</p>
        }
        else if (Model.PasswordError)
        {
            <p class="text-danger error-message">Falsches Passwort</p>
        }
        <div class="form-group">
            <input class="form-control" id="username" type="text" name="username" placeholder="Benutzername">
        </div>
        <div class="form-group">
            <input class="form-control" id="password" type="password" name="password" placeholder="Passwort">
        </div>
        <input type="hidden" name="route" value="/">
        <button type="submit" class="btn form-control">Anmelden</button>
    </form>
</div>