@model Login

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

@section Stylesheets{
    <link rel="stylesheet" href="~/css/login.css">
}

<div class="col-md-4 offset-md-4 col-12">
    <form asp-action="Login" asp-controller="EMensa" class="mx-auto form" id="login">
        <p class="form-title">
            <span>Login</span>
        </p>
        @if (!(Model.IsActivated && Model.UserExists && Model.IsPasswordValid))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @if (!Model.IsActivated)
                {
                    @("Nicht aktiviert")
                }
                else if (!Model.UserExists)
                {
                    @("Falscher Benutzername")
                }
                else if (!Model.IsPasswordValid)
                {
                    @("Falsches Passwort")
                }
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
        }
        <div class="form-group">
            <input class="form-control" id="username" type="text" name="username" placeholder="Benutzername">
        </div>
        <div class="form-group">
            <input class="form-control" id="password" type="password" name="password" placeholder="Passwort">
        </div>
        <input type="hidden" name="route" value="/">
        <button type="submit" class="btn form-control">Anmelden</button>
    </form>
</div>