#login {
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.3em;
}

#login > p {
    margin: -12% auto 2%;
    background: lightgray;
    width: 30%;
    text-align: center;
}

#banner {
    background: teal center;
    background-size: cover;
}

#order_button {
    width: 100%;
}

#order_row {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.price {
    text-align: right;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    font-size: 1.5em;
}