#login {
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.3em;
}

#banner {
    background: teal center;
    background-size: cover;
    min-height: 20vh;
    border-radius: 0.3em;
}

#order_button {
    width: 100%;
}

#order_row {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.price {
    text-align: right;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    font-size: 1.5em;
}

#bewertung {
    background-color: lightgray;
}

#review button {
    background-color: teal;
    color: white;
}

#description, #review {
    margin-top: 2%;
}