#login {
    margin: 15% 0 15%;
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.2em;
    width: 100%;
}

#login :not(:last-child) {
    margin-bottom: 10%;
}

.error-message {
    display: none;
    font-size: 0.6em;
}