#login {
    width: 25%;
    margin: 15% 0 15%;
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.2em;
}

#login :not(:last-child) {
    margin-bottom: 10%;
}

#login p {
    margin: -1.8em auto 1em;
    text-align: center;
}

#login p span {
    background: lightgray;
    padding: 0.5em;
}