.card {
    background: lightgray;
    border: none;
}

.card:not(.available) {
    filter: grayscale(100%);
}

.card-img-top {
    background: teal;
}

.card-body {
    background-color: darkslategrey;
}

.card-text {
    color: white;
    white-space: nowrap;
}

#filter form {
    border: 1px solid black;
    border-radius: 0.2em;
    padding: 1em;
}

#filter form :not(:first-child) {
    margin: 5% 0;
}

#filter button {
    background-color: teal;
    color: white;
}

#title {
    white-space: pre-wrap;
}