body {
    background: lightgray;
}

a {
    color: unset;
}

a:hover {
    color: #00b5ad;
    text-decoration: none;
}

.row {
    padding: 3px 0;
}

.navbar {
    background-color: teal;
    font-size: large;
}

#navbar-links {
    font-size: 1.3em;
}

.input-group-text {
    background: white;
    border-right: unset;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.navbar .form-control {
    border-left: unset;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

#links :not(:last-child) {
    border-right: 1px solid black;
    padding-right: 4px;
}

#links li {
    display: inline-block;
}

nav .btn {
    font-size: 1em;
    margin: auto 0;
}

.form-title {
    margin: -1.8em auto 1em;
    text-align: center;
}

.form-title span {
    background: lightgray;
    padding: 0.5em;
}

.form {
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.2em;
}

.form :not(:last-child) {
    margin-bottom: 1em;
}

.font-image {
    height: 1em;
}

.btn {
    background: teal;
    color: white;
}