.card {
    background: lightgray;
    border: none;
}

.card:not(.available) {
    filter: grayscale(100%);
}

.card-link {
    overflow: hidden;
}

.card-img-top {
    background: teal;
    transition: all .3s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.2);
}

.card-body {
    background-color: darkslategrey;
}

.card-text {
    color: white;
    white-space: nowrap;
}

#filter button {
    background-color: teal;
    color: white;
}

#title {
    white-space: pre-wrap;
}